
*{
    font-family: Source Code Pro;
}

:root {
    --blue: #0010c5;
    --lightblue:  rgb(0, 119, 255);
    --Navyblue: #000214;
  }

/* NAVBAR */
ul li a:hover {
    color: var(--lightblue) !important; /* Change the text color on hover */
    transition: color 0.5s, transform 0.5s;
    transform: scale(1.09); /* Increase the scale to make it pop out */
}
ul{
    text-decoration: none;
    display: flex;
}
li{
    text-decoration: none;
    display: flex;
    position: relative;
}
li::after{
    content: "/>";
    color: var(--lightblue);
    transition: color 0.5s;
    position: absolute;
    right: 15px;
    top: 21px;
    bottom: 0;
    margin: auto;
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
}
li:hover::after {
    color: white;
}
 .navbar {
    background-color: #000214;
    overflow: hidden;
}
.navbar .logo {
    float: left;
    font-size: 35px; /* Adjust the size as needed */
    padding: 10px 16px;
    padding-bottom: 15px;
    color: #fff; /* Text color */
    transform-origin: center;
    transition: color 0.5s, transform 0.5s;
}
.navbar .logo:hover{
color: var(--lightblue);
cursor: pointer;
transition: color 0.5s, transform 0.5s;
transform: scale(1.1); /* Increase the scale to make it pop out */

}
.navbar .logo:before,
.navbar .logo:after {
    content: "<";
    color: var(--lightblue);
    transition: color 0.5s;
}
.navbar .logo:hover:before,
.navbar .logo:hover:after {
    color: white;
}
.navbar .logo:after {
    content: "/>";
}
.navbar a {
    float: left;
    font-size: 20px;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    padding-right: 52px;
    padding-top: 20px;
    transition: transform 0.5s;
}
/* HOME PAGE */

body{
background-color: var(--Navyblue);
}
.home-info{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 28px;
    margin: 0 300px;
    padding-bottom: 20px;
}

.Des{
    color: var(--lightblue);
    font-style: italic;
}
.Dev{
    color: var(--lightblue);
    font-style: italic;
}
span{
    color: var(--lightblue);
}
.hmImg{
    text-align: center;
    
}
.hmImg img{
    width: 480px;
    height: 450px;
    border-radius: 50%;
}